# Игнорировать виртуальные среды
.venv/
venv/

# Игнорировать файлы базы данных
db.sqlite3

# Игнорировать системные файлы
.DS_Store

# Игнорировать все скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
